body {
    margin: auto;
    font-size: 20px;
}


header {
    background-color: lightskyblue;
    padding: 10px 10px;

}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

header nav a {
    color: black;
}

header nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin-left: auto;
}

header nav div button {
    background-color: transparent;
    border: none;
    color: white;
}

header h1 {
    text-align: center;
}


.main-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    text-align: center;

}

footer {
    background-color: lightskyblue;
    padding: 5px;
    margin: 10px 0 0;
    text-align: center;
}

nav a {
    display: inline-block;
    margin: 3px;
    padding: 10px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 1px solid whitesmoke;
    text-decoration: overline;
    color: whitesmoke;
}

.main-title {
    text-align: center;
    color: rgba(36, 7, 7, 0.685);
    font-family: Arial, Helvetica, sans-serif;
}


.user-msg {
    color: white;
    padding: 10px;
    font-size: 1.4em;
    position: fixed;
    top: 0;
    right: 0;
    background-color: grey;
}

.user-msg button {
    float: right;
    border: 0;
    border-radius: 50%;
    margin: 5px;
}

.success {
    background-color: rgb(41, 189, 73);
}

.danger {
    background-color: rgb(216, 59, 59);
}


.bug-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: end;
}

.bug-preview {
    background-color: #333;
    color: whitesmoke;
    border-radius: .2em;
    margin: 5px;
    text-align: center;
    padding: 5px;
}

.bug-preview a {
    color: lightskyblue;
}

.bug-preview span {
    color: gold;
}

.info-actions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    width: 300px;
    margin: 1em auto;
    padding: 1em;
    background-color: rgba(240, 240, 240, 0.531);
    border-radius: .4em;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.31);
}

.info-actions div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .2em;
}

.info-actions label {
    min-width: max-content;
}


.info-actions input,
.info-actions select {
    padding: .4em;
    border-radius: .2em;
    border: 1px solid rgba(178, 178, 178, 0.531);
    width: 100%;
}

.info-actions .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    /* padding-inline: 8rem; */
}

button {
    background-color: rgb(224, 241, 247);
    border: 1px solid lightblue;
    margin: 0.2em;
    padding: .4em;
    height: 3vh;
    cursor: pointer;
}

.labels-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    padding: .4em;
}


.label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.2em;
    background-color: rgb(224, 241, 247);
    border: 1px solid lightblue;
    padding: .4em;
    height: 1vh;
    cursor: pointer;
}

.label.active {
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.41);
}